--- mkdocs.yml.orig	2025-10-28 18:34:18 UTC
+++ mkdocs.yml
@@ -1,5 +1,5 @@
 site_name: NetBox Documentation
-site_dir: netbox/project-static/docs
+site_dir: project-static/docs
 site_url: https://docs.netbox.dev/
 repo_name: netbox-community/netbox
 repo_url: https://github.com/netbox-community/netbox
