[Desktop Entry]
Name=st
Comment=Simple terminal emulator for X11
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
