--- src/backend/utils/misc/postgresql.conf.sample.orig	2018-11-05 21:51:23 UTC
+++ src/backend/utils/misc/postgresql.conf.sample
@@ -309,6 +309,7 @@
 
 # - Where to Log -
 
+log_destination = 'syslog'
 #log_destination = 'stderr'		# Valid values are combinations of
 					# stderr, csvlog, syslog, and eventlog,
 					# depending on platform.  csvlog
@@ -447,6 +448,9 @@
 #track_io_timing = off
 #track_functions = none			# none, pl, all
 #track_activity_query_size = 1024	# (change requires restart)
+
+# On FreeBSD, this is a performance hog, so keep it off if you need speed
+update_process_title = off
 #update_process_title = on
 #stats_temp_directory = 'pg_stat_tmp'
 
