DEF[PORTVERSION]=	%%VERSION%%
# ----------------------------------------------------------------------------

NAMEBASE=		hickory-dns
VERSION=		${PORTVERSION}
KEYWORDS=		rust dns
VARIANTS=		std
SDESC[std]=		Rust-based DNS server with DNSSEC support + utils
HOMEPAGE=		https://hickory-dns.org/
CONTACT=		Michael_Reim[kraileth@elderlinux.org]

%%DOWNLOAD_GROUPS%%
SITES[main]=		GITHUB/hickory-dns:hickory-dns:v${PORTVERSION}
%%CR_SITES%%
DISTFILE[1]=		generated:main
%%CR_DISTFILES%%
%%DF_INDEX%%

SPKGS[std]=		set primary utils examples

OPTIONS_AVAILABLE=	none
OPTIONS_STANDARD=	none

LICENSE=		APACHE20:primary
			MIT:primary
LICENSE_FILE=		APACHE20:{{WRKSRC}}/LICENSE-APACHE
			MIT:{{WRKSRC}}/LICENSE-MIT
LICENSE_TERMS=		primary:{{WRKSRC}}/copyright.txt
LICENSE_SCHEME=		dual

USERS=			hickory
GROUPS=			hickory
USERGROUP_SPKG=		primary

USES=			c++:primary,utils cargo
# CARGO_BUILD_ARGS=	--package hickory-dns

RC_SUBR=		hickory:primary

# Override because we need to build twice
do-build:
	(cd ${WRKSRC} && ${CARGO_CARGO_RUN} build --package hickory-dns --release \
		--verbose &&  ${CARGO_CARGO_RUN} build --package hickory-util \
		--release --verbose)

# Override as cargo.mk does currently hard-code --path to . and this
# means it doesn't support projects that use Rust workspaces; we also install twice
do-install:
	(cd ${WRKSRC} && ${CARGO_CARGO_RUN} install --path bin --root \
		"${STAGEDIR}${PREFIX}" --verbose && ${CARGO_CARGO_RUN} \
		install --path util --root "${STAGEDIR}${PREFIX}" --verbose)

post-install:
	${RM} ${STAGEDIR}${PREFIX}/.crates*
	${COPYTREE_SHARE} ${WRKSRC}/tests/test-data/test_configs ${STAGEDIR}${STD_EXAMPLESDIR}/
	${MV} ${STAGEDIR}${PREFIX}/bin/hickory-dns ${STAGEDIR}${PREFIX}/sbin/
	${MKDIR} -p ${STAGEDIR}${PREFIX}/var/named/default
.for f in 0.zone 127.0.0.1.zone 255.zone ipv6_1.zone localhost.zone
	${INSTALL_DATA} ${WRKSRC}/tests/test-data/test_configs/default/${f} ${STAGEDIR}${PREFIX}/var/named/default/
.endfor
	${INSTALL_DATA} ${WRKSRC}/tests/test-data/test_configs/example.toml ${STAGEDIR}${PREFIX}/etc/hickory.toml-dist
