--- Imake.tmpl.orig	2025-09-08 02:18:09 UTC
+++ Imake.tmpl
@@ -890,7 +890,7 @@ TCLIBDIR = TclLibDir
 #endif
 #ifndef ManDirectoryRoot
 #ifdef ProjectRoot
-#define ManDirectoryRoot Concat(ProjectRoot,/man)
+#define ManDirectoryRoot Concat(ProjectRoot,/share/man)
 #else
 #define ManDirectoryRoot SystemManDirectory
 #endif
@@ -1078,11 +1078,7 @@ TCLIBDIR = TclLibDir
 #define ArCmdBase ar
 #endif
 #ifndef ArCmd
-#if HasLargeTmp || SystemV4 || HasGnuAr
 #define ArCmd ArCmdBase cq
-#else
-#define ArCmd ArCmdBase clq
-#endif
 #endif
 #ifndef ArAddCmd
 #if HasLargeTmp || SystemV4
@@ -1205,16 +1201,8 @@ TCLIBDIR = TclLibDir
 #define PreProcessCmd CcCmd -E
 #endif
 #ifndef InstallCmd		/* hack should be in project */
-#if SystemV || SystemV4
-#ifdef UseInstalled		/* assume BINDIR in path */
-#define InstallCmd bsdinst
-#else
-#define InstallCmd $(SHELL) $(CONFIGSRC)/util/bsdinst.sh
-#endif
-#else
 #define InstallCmd install
 #endif
-#endif
 #ifndef InstallFlags
 #define InstallFlags -c
 #endif
@@ -1823,7 +1811,7 @@ CXXEXTRA_INCLUDES = CplusplusExtraInclud
        CXXOPTIONS = CplusplusOptions
       CXXINCLUDES = $(INCLUDES) $(TOP_INCLUDES) $(CXXEXTRA_INCLUDES)
        CXXDEFINES = $(CXXINCLUDES) $(CXXSTD_DEFINES) $(THREADS_CXXDEFINES) $(DEFINES) $(CXXEXTRA_DEFINES)
-         CXXFLAGS = $(CXXDEBUGFLAGS) $(CXXOPTIONS) $(THREADS_CXXFLAGS) $(CXXDEFINES)
+         CXXFLAGS += $(CXXDEBUGFLAGS) $(CXXOPTIONS) $(THREADS_CXXFLAGS) $(CXXDEFINES)
 #endif
          COMPRESS = CompressCmd
           GZIPCMD = GzipCmd
@@ -2073,7 +2061,7 @@ MODLDCOMBINEFLAGS = ModuleLdCombineFlags
  */
       ALLINCLUDES = $(INCLUDES) $(EXTRA_INCLUDES) $(TOP_INCLUDES) $(INSTALLED_INCLUDES) $(STD_INCLUDES)
        ALLDEFINES = $(ALLINCLUDES) $(STD_DEFINES) $(PROTO_DEFINES) $(THREADS_DEFINES) $(MODULE_DEFINES) $(DEFINES) $(EXTRA_DEFINES)
-           CFLAGS = $(CDEBUGFLAGS) $(CCOPTIONS) $(THREADS_CFLAGS) $(MODULE_CFLAGS) $(ALLDEFINES)
+           CFLAGS += $(CDEBUGFLAGS) $(CCOPTIONS) $(THREADS_CFLAGS) $(MODULE_CFLAGS) $(ALLDEFINES)
         LINTFLAGS = $(LINTOPTS) -DLINT $(ALLDEFINES) $(DEPEND_DEFINES)
          LDPRELIB = LdPreLib $(INSTALLED_LIBS)
         LDPOSTLIB = LdPostLib
