--- tumblerd/tumbler.rc.orig	2020-08-06 12:04:53 UTC
+++ tumblerd/tumbler.rc
@@ -37,7 +37,7 @@ MaxFileSize=209715200
 
 # RAW image files using libopenraw
 [RawThumbnailer]
-Disabled=false
+Disabled=true
 Priority=1
 Locations=
 MaxFileSize=209715200
@@ -58,7 +58,7 @@ MaxFileSize=0
 
 # ffmpegthumbnailer plugin
 [FfmpegThumbnailer]
-Disabled=false
+Disabled=true
 Priority=2
 Locations=
 MaxFileSize=2147483648
