--- tumblerd/tumbler.rc.orig	2020-08-13 08:33:38 UTC
+++ tumblerd/tumbler.rc
@@ -43,7 +43,7 @@ MaxFileSize=209715200
 
 # RAW image files using libopenraw
 [RawThumbnailer]
-Disabled=false
+Disabled=true
 Priority=1
 Locations=
 Excludes=
@@ -66,7 +66,7 @@ MaxFileSize=0
 
 # ffmpegthumbnailer plugin
 [FfmpegThumbnailer]
-Disabled=false
+Disabled=true
 Priority=2
 Locations=
 Excludes=
