--- tumblerd/tumbler.rc.orig	2022-12-16 23:16:55.635362000 +0100
+++ tumblerd/tumbler.rc	2022-12-16 23:18:13.425194000 +0100
@@ -36,7 +36,7 @@
 # RAW image files using libopenraw (the libopenraw pixbuf loader is kind of
 # broken, hence the priority)
 [RawThumbnailer]
-Disabled=false
+Disabled=true
 Priority=3
 Locations=
 Excludes=
@@ -67,7 +67,7 @@
 
 # ffmpegthumbnailer plugin
 [FfmpegThumbnailer]
-Disabled=false
+Disabled=true
 Priority=2
 Locations=
 Excludes=
